
body{

    font-family: 'Poppins', sans-serif;
}
.menu-bar{
    text-align: right;
    padding: 15px;
}
.menu-bar ul{
display: inline-flex;
list-style: none;

}
.menu-bar ul li{
    font-size: 20px;
    width: 120px;
    margin: 40px;
    
    color: slateblue;
   
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: tomato;
    width: 500px;
}
.name-highlight01{
    color:purple;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}