
body{
   margin: 0%;
    font-family: 'Poppins', sans-serif;
    
}


.menu-bar{
    text-align: right;
    padding: 15px;
    width:600px:
    
}
.menu-bar ul{
display: inline-flex;
list-style: none;
width:600px:

}
.menu-bar ul li{
    font-size: 20px;
    width: 120px;
    margin: 40px;
    width:600px:
    color: purple;
}









h1{
    font-size: 50px;
    font-weight: 700px;
}
h2{
    font-size: 40px;
    font-weight: 700px;
   
}

p{
    font-family:sans-serif;
    color: dimgrey;
    text-align: justify;
}

 
 
.name-highlight{
    color: tomato;
    width: 700px;
   
   
   
}
.name-highlight01{
    color:purple;
   
    
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   
   
   
    
}
.half-width img{
    width: 100%;
    
    
   
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
   
    

}
.about-area2{
    width: 40%;
    float: right;
    margin-left: 5%;
    padding-left: 2%;
    height: 600px;
   
}

p{
    color: dimgray;
}

.project{
    text-align: center;
    height: 600px;
    
   
}
.project-color{
    color: tomato;
    height: 600px;
    margin-left: 5%;
    padding-left: 2%;
}
   .text-center{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 600px;
   
   } 

    
   .card{
    width: 400px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px bisque;
    float: left;
    
}  
  
.img-style{
    width: 100%;
}
.card-body{
    padding: 5px;
}
.card-title{
    font-size: 20px;
    text-align: center;
}
img-dis{
    text-align: justify;
}





.box-one{
    width: 25%;
    float: left;
    padding: 15px 30px;
    margin: 10px;
}

..box-one img{
    width: 100%;

}
.box-one size{
    font-size: 100%;
    font-weight: 600;
}
.box-one{
    box-shadow: 5px 5px 20px gray;
    height: 53%;
    background-color: white;
    border-radius: 10%;
}
.box-one img{
    width: 40%;
}
